@tailwind base;
@tailwind components;
@tailwind utilities;

html,
* {
  width: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide {
  animation: slide 0.5s ease-in-out forwards;
}
